*{
    margin: 0;
    padding:0 ;
}
/* header styles */
.header-section{
padding-top: 50px;
}
.nav-container{
border: 2px solid red;
display: flex;
justify-content: center;
align-items: center;
width: 90%;
margin: 0 auto;
}
.nav-title{
    color: #3A3A3A;
    font-weight: 700;

font-family: Poppins;
font-size: 24px;



}
.nav-child1{
    border: 2px solid orange;
    flex: 1;
}
.nav-child2{
    border: 2px solid green;
    flex: 1;
}
.nav-child2 ul{
    list-style: none;
}
.nav-child2 ul li{
    display: inline;
    
}
.nav-child2 ul li a{
    text-decoration: none;
    margin-right: 40px;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
    font-family: Poppins;
}



    
